// Enter your WiFi SSID and password
char ssid[] = "....";              // your network SSID (name)
char pass[] = "....";            // your network password (use for WPA, or use as key for WEP)
int keyIndex = 0;                      // your network key Index number (needed only for WEP)

// MQTT Destination Info
char host[] = "192.168.1.1";                 
char username[] = "....";
char password[] = "....";
char baseTopic[] = "meter2mqtt";
char deviceName[] = "t10-h2o";

int deviceId = 0x1c;
#define WIRE &Wire1
